/* Banner CSS */
.banner-area {
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $tomato_color;
        border: 0;
        width: 50px;
        height: 50px;
        transition: .3s;
        @include min-sm {
            width: 40px;
            height: 40px;
        }
        cursor: pointer;
        z-index: 2;
        &:hover {
            background-color: $black;
        }
        &.slick-prev {
            left: 50px;
        }
        &.slick-next {
            right: 50px;
        }
        i {
            color: $white;
            font-size: 18px;
        }
    }
    .single-banner {
        position: relative;
        height: 100vh;
        @include min-sm {
            height: 80vh;
        }
        @include max-xs {
            height: 80vh;
        }
        .banner-content {
            position: relative;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;
            @include max-xs {
                text-align: center; 
                height: 80vh;
            }
            @include min-sm {
                height: 80vh;
            }
            h5 {
                font-size: 30px;
            }
            h2 {
                font-size: 60px;
                font-weight: 800;
                text-transform: capitalize;
                margin: 30px 0;
                @include max-xs {
                    font-size: 30px;
                    margin: 18px 0;
                }
                @include min-sm {
                    font-size: 30px;
                    margin: 15px 0;
                }
                @include min-md {
                    font-size: 50px;
                    margin: 16px 0;
                }
            }
            .banner-btn {
                @include max-xs {
                    text-align: center; 
                }
                a {
                    margin: 20px 10px 0;
                    @include min-sm {
                        margin: 5px 10px 0;
                    }
                    @include max-xs {
                        margin: 8px 10px 0;
                    }
                }
            }
        }
    }
}