/* Section Title */
.section-title {
    text-align: center;
    margin-bottom: 70px;
    span {
        font-size: 20px;
        font-weight: 400;
    }
    h2 {
        font-size: 40px;
        font-weight: 800;
        text-transform: capitalize;
        position: relative;
        color: $black;
        margin-top: 10px;
        padding-bottom: 10px;
        &:before {
            position: absolute;
            content: "";
            width: 80px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary_color;
            height: 2px;
            bottom: 0;
        }
        &:after {
            position: absolute;
            content: "";
            width: 55px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary_color;
            height: 2px;
            bottom: -8px;
        }
    }
}